<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rack">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.975119679404293 0.304799999999999 0.999251673401061"
        rpy="0 0 0" />
      <mass
        value="88.7154677300003" />
      <inertia
        ixx="29.9274727958863"
        ixy="3.12757435973069E-14"
        ixz="-0.0285456795100885"
        iyy="58.541576189975"
        iyz="9.18183401142584E-15"
        izz="37.1932023276767" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rack/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rack/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

<gazebo reference="base_link">
    <material>Gazebo/Blue</material>
</gazebo>

<gazebo>
<static> true </static>
</gazebo>


</robot>
